body {
    margin-top: 20px;
    display: flex;
    align-items: center;
    background-color: #1b1e21 !important;
}

.panel-title {
    display: inline;
    font-weight: bold;
}

.checkbox.pull-right {
    margin: 0;
}

.pl-ziro {
    padding-left: 0px;
}